<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="/src/login/vue/login.js" defer></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/login/css/login.css">
    <title>SpotifyDT - Login</title>

  </head>
  <body>
    <div class="login">
      <img src="src/login/img/SpotifyDT.svg" alt="LOGO">
      <button @click="login">LOGIN WITH SPOTIFY</button>
    </div>
  </body>
</html>
